/* GENERAL STYLES */
@font-face {
    font-family: 'playfair_displayregular';
    src: url('playfairdisplay-variablefont_wght-webfont.woff2') format('woff2'),
    url('playfairdisplay-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    line-height: 1.6;
    letter-spacing: 1.1px;

    /*background-color: #96bb7c;*/
    /*      background-image: url('static/img/startpage.JPG');*/
    /*      background-repeat: no-repeat;*/
    /*      background-attachment: fixed;*/
    /*      background-position: right top;*/
    /*      background-size: cover;*/
    /*      !* neņem ne krāsu, ne bildi *!*/
}


/* HEADER */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-family: 'playfair_displayregular';
}

h1, h2 {
    font-family: 'playfair_displayregular';
}


.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation .link {
    text-decoration: none;
    text-transform: uppercase;
    color: seagreen;
    margin-right: 15px;
    font-weight: bold;
    font-size: 18px;
}

.navigation .link:hover {
    color: darkgreen;
}

.navigation .link:last-of-type {
    margin-right: 0;
}

/* HEADER */


.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}


/* INTRO */
.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
}

.intro .heading {
    font-family: 'playfair_displayregular';
    font-size: 35px;
    color: black;
}

/* Garden plants */
.garden-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}


.garden-container .heading {
    font-size: 25px;
    color: black;
    text-transform: uppercase;
}


.gardenPlants {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 50px 30px;
    width: 100%;
}

.gardenPlants {
    max-height: 700px;
}

.gardenPlants .image {
    width: 250px;
    height: 250px;
    display: block;
    object-fit: cover;
}

/* Plants */
.plants-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}


.plants-container .heading {
    font-size: 25px;
    color: black;
    text-transform: uppercase;
}


.plant {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 50px 30px;
    width: 100%;
}

.plant {
    max-height: 700px;
}

.plant .image {
    width: 250px;
    height: 250px;
    display: block;
    object-fit: cover;
}

/* Style all input fields */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
}

/* Style the container for inputs */
.container {
    background-color: #f1f1f1;
    padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
}

/* RECIPES */