/* GENERAL STYLES */
@font-face {
    font-family: 'Tangerine';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/tangerine/v12/IurY6Y5j_oScZZow4VOxCZZM.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


.homepage {

    background-image: url("https://64.media.tumblr.com/bdc1841b5640a396d97cb360f26827b7/d98c99da1f41dde3-a6/s1025x683/40c35c5a7ec94f0ec9225e1bd84c0aaf29a86179.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    background-size: cover;
    /*background-image: url('static/img/bakcground.jpg');*/
    font-family: sans-serif;
    margin-top: 50px;
    padding: 30px;
}

body {
    line-height: 1.6;
    letter-spacing: 1.1px;
    margin: 0;
    height: 100%;
    flex: 1 0 auto;
    background-color: #EBEBE9;
    /*background-image: url('static/img/bakcground.jpg');*/
    /*background-image: url('static/img/bakcground.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-position: right top;*/
    /*background-size: cover;*/
}

.gardenButtons{
    float: left;
    margin: 7px;
}

/* HEADER */
header img {
    height: 80px;
}

.navigation {
    display: flex;
    background: #E3E6DA;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    font-family: 'playfair_displayregular';
    border-radius: 10px;
}

h1, h2 {
    font-family: 'playfair_displayregular';
}

.login_h2 {
    margin-left: 150px;
    /*font-weight: bold;*/
}

a:active {
    text-align: center;
    background-color: darkseagreen;
    border-radius: 4px;
    color: seagreen;

}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation .link {
    text-decoration: none;
    text-transform: uppercase;
    color: seagreen;
    margin-right: 20px;
    font-weight: bold;
    font-size: 20px;
}

.navigation .link:hover {
    color: darkgreen;
}

.navigation .link:last-of-type {
    margin-right: 0;
}

/* HEADER */

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}


/* INTRO */
.intro {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
}

.intro .heading {
    font-family: 'playfair_displayregular';
    font-size: 35px;
    color: black;
}

/* Garden plants */
.garden-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
}


.garden-container .heading {
    font-size: 25px;
    color: black;
    text-transform: uppercase;
}


.gardenPlants {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 50px 30px;
    width: 100%;
}

/*.gardenPlants {*/
/*    max-height: 700px;*/
/*}*/

.gardenPlants .image {
    width: 250px;
    height: 250px;
    display: block;
    object-fit: cover;
}

/* Plants */
.plants-container {
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    margin: auto;
}


.plants-container .heading {
    font-size: 25px;
    color: black;
    text-transform: uppercase;
}


.plant {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 50px 30px;
    width: 100%;
    padding: 20px;
    margin: auto;
}


/*.plant {*/
/*    max-height: 700px;*/
/*}*/

img {
    border-radius: 10px;
    margin-left: 20px;
}

.plant .image {
    width: 250px;
    height: 250px;
    display: block;
    object-fit: cover;
}

button.btn-first-page {
    color: #EBEBE9;
    background-color: #49654C;
    padding: 7px 10px 7px 10px;
    border-radius: 4px;
    border: 0px;
}

select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 3px;
    text-align-all: center;
}

/* Style all input fields */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;

}

/* Style the submit button */
input[type=submit] {
    background-color: #49654C;
    color: #EBEBE9;
}

/* Style the container for inputs */
.container {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
}

.footer {
    margin-bottom: 20px;
    flex-shrink: 0;
    padding: 3px;
    background-color: #E3E6DA;
    color: seagreen;
    border-radius: 10px;

}

.created {
    text-align: right;
    font-family: 'playfair_displayregular'
}

.year {
    text-align: left;
}