<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="img/icon.png" type="image/jpg" sizes="16x16">
</head>
<body>
<nav class="navigation">
    <div class="links">
        <a class="link" href="/home/">Home</a>
        <a class="link" href="/all_plants">All Plants</a>
        <a class="link" href="/your_garden">Your Garden</a>
        <a class="link" href="/about">About</a>
        <a class="link" href="/login">Login</a>
    </div>
</nav>
<main class="content">
    <section class="intro">
        <h1 class="heading">About</h1>
    </section>
<p>
    This project will be for people, that usually murders their houseplants.
</p>
</main>
</body>
</html>