<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="icon" href="img/icon.png" type="image/jpg" sizes="16x16">
</head>
<body>
<div th:replace="navigation :: navigation"></div>

<main class="content">
    <section class="intro">
        <h1 class="heading">About</h1>
    </section>
    <section class="aboutText">
        <p>
        <div >As life  in these days pressures us to stay at home
            More, for many this turned out to be the perfect time
            to start something new, bake some banana bread, start
            Knitting, painting, redecorate their homes
            And also start caring for other living things like plants.
            Unfortunately like many others, nature hasn't pleased with  «green thumbs» and any knowledge about house plants (any plants for that matter), to make things more serious even unintentionally murdering  cactus is no challenge what so ever. We all need a little green in our lives, that’s why the idea was born of a houseplant database, where at one place you could find all needed information about how to care for plants, like are they toxic for pets, how much humidity and sunlight do they need, how often do they bloom and most importantly for people with bad memory when it comes to watering plants – calendar and signal from the above, that your plant baby is thirsty!
        </div>
        <div>
            Long story short- this solution will be for people, who usually murders their houseplants.
        </div>

        </p>
    </section>

</main>
<img th:src="@{/img/about.jpg}" class="about" >
<div style="margin-bottom: 20px">
    <br>
<footer th:replace="footer :: footer"> </footer>
</div>
</body>
</html>