<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="icon" href="img/icon.png" type="image/jpg" sizes="16x16">
</head>
<body>
<div th:replace="navigation :: navigation"></div>

<main class="content">
    <section class="intro">
        <h1 class="heading">About</h1>
    </section>
<p>
    This project will be for people, that usually murders their houseplants.
</p>
</main>
<img th:src="@{/img/about.jpg}" class="about" >
<div style="margin-bottom: 20px">
    <br>
<footer th:replace="footer :: footer"> </footer>
</div>
</body>
</html>