<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Garden</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="icon" href="img/icon.png" type="image/jpg" sizes="16x16">
</head>
<body>
<div th:replace="navigation :: navigation"></div>
<main class="content">
    <h1 class="heading">Your garden</h1>
    <h1>Modify Your garden</h1>
    <form name="addGardenData" id="addGardenData" method="post" action="/add_garden">
        <div>
            <label>Plant:</label>
            <select name="uPlantId" id="uPlantId">
                <option th:each="plant: ${viewModel.getPlant()}" th:value="${plant.getId()}"
                        th:text="${plant.getName()}">
                </option>
            </select>
        </div>
        <input type="submit" value="Add plant">
        <span><b>Don't forget to water Your plant baby, do it now!</b></span>
</main>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div style="margin-bottom: 20px">
<footer th:replace="footer :: footer">...</footer>
    </div>
</body>
</html>