<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Plants</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="icon" href="img/icon.png" type="image/jpg" sizes="16x16">
</head>
<body>
<div th:replace="navigation :: navigation"></div>

<main class="content">
    <section class="intro">
        <h1 class="heading">All Plants</h1>
    </section>

    <form action="/search_plants" method="post" name="switchPlant" id="switchPlant">
        <select name="selectedPlant" id="selectedPlant">
            <option th:each="plant: ${plants}" th:selected="${plant.getId() == selectedPlant}"
                    th:value="${plant.getId()}" th:text="${plant.getName()}"></option>
        </select>
        <input type="submit" value="Search">
    </form>


    <section class="plants-container">
        <div class="plant">
                <div th:each="plant: ${plants}">
                    <div>
                        <b><span th:text="${plant.getName()}"></span></b>
                    </div>
                    <div>
                        <a th:text="${plant.getScienceName()}"> Plant Scientific Name</a>
                    </div>
                    <img th:src="${plant.image()}" width="300" height="300"/>
                    <div style="text-align: justify; padding-right: 35px">
                        <a th:text="${plant.getDescription()}"> Plant Description</a>
                    </div>
                    <div>
                        <a th:text="${'Moisture level: ' + plant.getMoisture()}"> Plant moisture</a>
                    </div>
                    <div>
                        <a th:text="${'Sunlight level: ' + plant.getSunlight()}"> Plant sunlight</a>
                    </div>
                    <div>
                        <a th:text="${'Water once in: ' + plant.getWatering() + ' days'}"> Plant watering</a>
                    </div>
                    <div>
                        <a th:text="${'Toxic to pets: ' + plant.getPetToxic()}"> Plant pet toxic</a>
                    </div>
                    <div>
                        <a th:text="${'Plant type: ' + plant.getType()}"> Plant type</a>
                    </div>
                    <div>
                        <a th:text="${'Blooming time: ' + plant.getBloom()}"> Plant bloom</a>
                    </div>
                    <div>
                        <a th:text="${'Humidity needed: ' + plant.getHumidity()}"> Plant humidity</a>
                    </div>
            </div>
        </div>
    </section>


</main>

<div style="margin-bottom: 20px;">
    <a href="/all_plants" style="font-size: large; color: green; margin-left: 58px"><b>Go Up!</b></a>
    <br>
    <br>
    <footer th:replace="footer :: footer">...</footer>

</div>

</body>
</html>