<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Garden</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="icon" href="img/icon.png" type="image/jpg" sizes="16x16">
</head>
<body>
<div th:replace="navigation :: navigation"></div>
<main class="content">
    <h1 class="heading">Your garden</h1>
    <h1>Modify Your garden</h1>

        <form name="deleteGardenData" id="deleteGardenData" method="post" action="/delete_garden">
            <div>
                <label>Plant:</label>
                <select name="dPlantId" id="dPlantId">
                    <option th:each="plant: ${viewModelD.getPlant()}" th:value="${plant.getId()}"
                            th:text="${plant.getName()}">
                    </option>
                </select>
            </div>
            <input type="submit" value="Delete plant">

</main>
<footer th:replace="footer :: footer">...</footer>
</body>
</html>