<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${plants}"></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="img/icon.png" type="image/jpg" sizes="16x16">
</head>

<body>


<nav class="navigation">
    <div class="links">
        <a class="link" href="/home/">Home</a>
        <a class="link" href="/all_plants">All Plants</a>
        <a class="link" href="/about">About</a>
        <a class="link" href="/login">Login</a>
    </div>
</nav>

<h1>Here should be the searched plant details</h1>

<ul>
    <li th:each="plant: ${plants}">
        <a th:href="${'/plant/' + plant.getId()}" th:text="${plant.getName()}"></a>
    </li>
</ul>

</body>
</html>