<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${plant.getName()}"></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="img/icon.png" type="image/jpg" sizes="16x16">
</head>

<body>


<nav class="navigation">
    <div class="links">
        <a class="link" href="/home/">Home</a>
        <a class="link" href="/all_plants">All Plants</a>
        <a class="link" href="/about">About</a>
        <a class="link" href="/login">Login</a>
    </div>
</nav>

<h2 th:text="${'The chosen plant is ' + plant.getName() + '!'}"></h2>


<section class="plants-container">
    <div class="gardenPlants">
        <div class="garden-container">
                <div>
                    <a th:text="${plant.getScienceName()}"> Plant Scientific Name</a>
                </div>
                <img th:src="${plant.image()}" width="300" height="300"/>
                <div>
                    <a th:text="${plant.getDescription()}"> Plant Description</a>
                </div>
                <div>
                    <a th:text="${plant.getMoisture()}"> Plant moisture</a>
                </div>
                <div>
                    <a th:text="${plant.getSunlight()}"> Plant sunlight</a>
                </div>
                <div>
                    <a th:text="${plant.getWatering()}"> Plant watering</a>
                </div>
                <div>
                    <a th:text="${plant.getPetToxic()}"> Plant pet toxic</a>
                </div>
                <div>
                    <a th:text="${plant.getType()}"> Plant type</a>
                </div>
                <div>
                    <a th:text="${plant.getBloom()}"> Plant bloom</a>
                </div>
                <div>
                    <a th:text="${plant.getHumidity()}"> Plant humidity</a>
                </div>
        </div>
    </div>
</section>

 <a href="/all_plants" style="font-size: large; color: green">Search again</a>


</body>
</html>