<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Lovers</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>

    <link rel="icon" href="img/icon.png" type="image/jpg" sizes="16x16">
</head>


<body class="homepage" >

<div th:replace="navigation :: navigation"></div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<img th:src="@{/img/bakcground.jpg}" class="homepage" >


<div style="margin-bottom: 20px">
<footer th:replace="footer :: footer" >...</footer>
    </div>
</body>
</html>