<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="icon" href="img/icon.png" type="image/jpg" sizes="16x16">
</head>
<body>
<header>
    <nav class="navigation">
        <div th:fragment="navigation" class="navigation">
            <a class="link" href="/home/">Home</a>
            <a class="link" href="/all_plants">All Plants</a>
           <a class="link" href="/home/"><img th:src="@{/img/icon.png}" width="40"></a>
            <a class="link" href="/about">About</a>
            <a class="link" href="/login">Profile</a>
        </div>
    </nav>
</header>
</body>
</html>