<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Garden</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
<nav class="navigation">
    <div class="links">
        <a class="link" href="/home/">Home</a>
        <a class="link" href="/all_plants">All Plants</a>
        <a class="link" href="/your_garden">Your Garden</a>
        <a class="link" href="/about">About</a>
    </div>
</nav>
<main class="content">
    <section class="intro">
        <h1 class="heading">Your garden</h1>
    </section>
    <p>

    </p>
</main>
</body>
</html>