<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Garden</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="img/icon.png" type="image/jpg" sizes="16x16">
</head>
<body>
<nav class="navigation">
    <div class="links">
        <a class="link" href="/home/">Home</a>
        <a class="link" href="/all_plants">All Plants</a>
        <a class="link" href="/about">About</a>
    </div>
</nav>

<main class="content">
    <section class="intro">
    <section class="garden-container">
        <h1 class="heading">Your garden</h1>
        <h1 th:text="${'Welcome to your garden ' + user.getName() + '!'}"></h1>
        <h2>Check out your garden:</h2>
    </section>

        <section class="garden-container">
        <div class="gardenPlants">
            <div class="garden_plants">
                <div th:each="gardenPlants: ${myPlants}">
                    <div>
                        <b><span th:text="${gardenPlants.getName()}"></span></b>
                    </div>
                    <div>
                        <a th:text="${gardenPlants.getScienceName()}"> Plant Scientific Name</a>
                    </div>
                    <img th:src="${gardenPlants.image()}" width="300" height="300"/>
                    <div>
                        <a th:text="${gardenPlants.getDescription()}"> Plant Description</a>
                    </div>
                    <div>
                        <a th:text="${gardenPlants.getMoisture()}"> Plant moisture</a>
                    </div>
                    <div>
                        <a th:text="${gardenPlants.getSunlight()}"> Plant sunlight</a>
                    </div>
                    <div>
                        <a th:text="${gardenPlants.getWatering()}"> Plant watering</a>
                    </div>
                    <div>
                        <a th:text="${gardenPlants.getPetToxic()}"> Plant pet toxic</a>
                    </div>
                    <div>
                        <a th:text="${gardenPlants.getType()}"> Plant type</a>
                    </div>
                    <div>
                        <a th:text="${gardenPlants.getBloom()}"> Plant bloom</a>
                    </div>
                    <div>
                        <a th:text="${gardenPlants.getHumidity()}"> Plant humidity</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </section>
</main>
</body>
</html>