<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Garden</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="icon" href="img/icon.png" type="image/jpg" sizes="16x16">
</head>
<body>
<div th:replace="navigation :: navigation"></div>
<main class="content">
    <section class="intro">
        <section class="garden-container">
            <h1 class="heading">Your garden</h1>

            <h1>Modify your lovely garden...</h1>
            <div class="gardenButtons">
                <a th:href="@{add_garden}">
                    <button>Add plants</button>
                </a>
                <a th:href="@{delete_garden}">
                    <button>Delete plants</button>
                </a>
            </div>
            <h1>See plant watering schedule...</h1>

<!--            <div th:each="gardenPlants: ${myPlants}">-->
<!--                <b><span th:text="${gardenPlants.getName()}"></span></b>-->
<!--            </div>-->
<!--            <div>-->
<!--                <b><span th:text="${waterDay}"></span></b>-->
<!--            </div>-->



            <a th:href="@{calendar}">
                <button>View Calendar</button>
            </a>
            <h2>Check out your garden:</h2>
            <section class="garden-container">
                <div class="gardenPlants">
                    <div th:each="gardenPlants: ${myPlants}">
                        <div>
                            <b><span th:text="${gardenPlants.getName()}"></span></b>
                        </div>
                        <div>
                            <a th:text="${gardenPlants.getScienceName()}"> Plant Scientific Name</a>
                        </div>
                        <img th:src="${gardenPlants.image()}" width="300" height="300"/>
                        <div style="text-align: justify; padding-right: 35px">
                            <a th:text="${gardenPlants.getDescription()}"> Plant Description</a>
                        </div>
                        <div>
                            <a th:text="${'Moisture level: ' + gardenPlants.getMoisture()}"> Plant moisture</a>
                        </div>
                        <div>
                            <a th:text="${'Sunlight level: ' + gardenPlants.getSunlight()}"> Plant sunlight</a>
                        </div>
                        <div>
                            <a th:text="${'Water once in: ' + gardenPlants.getWatering() + ' days'}"> Plant watering</a>
                        </div>
                        <div>
                            <a th:text="${'Toxic to pets: ' + gardenPlants.getPetToxic()}"> Plant pet toxic</a>
                        </div>
                        <div>
                            <a th:text="${'Plant type: ' + gardenPlants.getType()}"> Plant type</a>
                        </div>
                        <div>
                            <a th:text="${'Blooming time: ' + gardenPlants.getBloom()}"> Plant bloom</a>
                        </div>
                        <div>
                            <a th:text="${'Humidity needed: ' + gardenPlants.getHumidity()}"> Plant humidity</a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</main>
<div style="margin-bottom: 20px">
    <br>
<footer th:replace="footer :: footer">...</footer>
</div>
</body>
</html>